/* Document */

* {
	font-family: 'Ubuntu Mono', monospace;
	box-sizing: border-box;
	color: #292929;
}

body {
	background-image: linear-gradient( 135deg, #FDEB71 10%, #F8D800 100%);
	min-height: 100vh;
	padding: 0;
	margin: 0;
}

header {
	margin-top: 0;
}

h1 {
	padding: 1em 0;
	margin-top: 0;
	margin-bottom: 1.5em;
	text-align: center;
}

h2 {
	padding-bottom: .5em;
	border-bottom: 5px solid #292929;
}

div, footer {
	margin: 0 auto;
	text-align: center;
}

footer {
	padding: .1em;
}

button::before {
	content: '\00BB\ ';
}

button {
	display: block;
	margin-bottom: 1em;
	width: 100%;
	padding: 1em;
	cursor: pointer;
	border: none;
	font-size: 1.1em;
	text-align: left;
	border: 2px solid white;
	position: relative;
	background: rgba(255,255,255,0.7);
}

/*button::after {
	content: '+';
	font-size: 1.5em;
	border-left: 1px solid black;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding-left: 15px;
	right: 15px;
}*/

button:hover {
	background: transparent;
}

button,
img {
	border-radius: 5px;
}

/* Tableau */

table {
	margin-top: 2em;
	border-collapse: collapse;
	width: 100%;
	background: rgba(255,255,255,0.6);
}

legend {
	font-size: 1.3em;
	margin-top: .5em;
	text-align: center;
	padding: 1em 0;
}

figcaption, td, th {
	font-size: 1.2em;
}

figcaption::before {
	content: '-';
	display: block;
}

th, td {
	width: 50%;
}

img {
	max-width: 100%;
}

tr, td, th {
	text-align: center;
	padding: .5em;
	border: 1px solid #292929;
}

/* Classes */

#replay {
	display: inline-block;
	width: auto;
	margin-top: 1em;
	display:inline-block;
}

#replay::after {
	content: none;
}

#player-container,
#ia-container {
	border: 1px solid #292929;
	border-radius: 5px;
}

.vertical-align {
	display: table;
	height: 100%;
}

.vertical-align > div {
	display: table-cell;
	vertical-align: middle;
}

.container {
	max-width: 600px;
	margin: 0 auto;
	width: 100%;
	padding-top: 5em;
}

.float-container {
	overflow: hidden;
	text-align: center;
	margin: 0 auto;
}

.float-container > div {
	float: left;
	width: 31.33%;
	margin-left: 3%;
}

.float-container > div:first-child {
	margin-left: 0;
}

.float-container img {
	padding: 1em;
}

/* Responsive design */

@media screen and (max-width: 768px) {
	.container {
		padding-top: 1.3em;
	}
	figure {
		margin: 0 .5em;
	}
	figcaption {
		padding-bottom: 1.5em;
	}
	.float-container {
		/*overflow: visible;*/
	}
	.float-container > div {
		width: 45%;
	}
	.float-container > div:first-child {
		float: none;
		width: 100%;
	}
	button {
		display: inline-block;
		width: auto;
	}
}
